.curtain-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    pointer-events: none; /* Ensure user interactions are allowed during animation */
}

.curtain-left, .curtain-right {
    width: 50%;
    height: 100%;
    background-color: maroon; /* Semi-transparent maroon color */
    position: absolute;
    top: 0;
    animation: curtain-open 4s ease forwards;
}

.curtain-left {
    left: 0;
}

.curtain-right {
    right: 0;
}

@keyframes curtain-open {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.hidden {
    display: none;
}
