body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  cursor: url('./components/cake-cursor.png'), auto;
}


header {
  background: #f4f4f4;
  padding: 50px 0;
  text-align: center;
}

h1, h2 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  background: #fff;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

footer {
  background: #f4f4f4;
  padding: 20px;
  text-align: center;
}

.video-container {
  padding: 20px;
}

.video-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.video-container video {
  margin: 10px 0;
}
